<div class="row">
  <p>(Note: This schedule is still tentative and subject to change)</p>
  <div class="col-md-6">
    <h3>Day 1 (R:Part 1)</h3>
    <table class="table table-striped">
      <tr> <td>11:00 AM - 12:20 PM</td>  <td>Introduction to R and RStudio</td> </tr>
      <tr> <td>12:20 PM - 12:30 PM</td>  <td>Break</td> </tr>
      <tr> <td>12:30 PM - 1:00 PM</td>  <td>R: Explore R Data Structures and Data Frames</td> </tr>
      <tr> <td>1:00 PM - 2:00 PM</td>   <td>R: Subsetting Data and Control Flow</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 (R: Part 2)</h3>
    <table class="table table-striped">
      <tr> <td>11:00 AM - 12:20 PM</td>  <td>Creating Publication Quality Plots in R</td> </tr>
      <tr> <td>12:20 PM - 12:30 PM</td>  <td>Break</td> </tr>
      <tr> <td>12:30 PM - 1:00 PM</td>  <td>Data Manipulation in R</td> </tr>
      <tr> <td>1:00 PM - 2:00 PM</td>  <td>R: Vectorization and Writing the Data</td> </tr>
      <tr> <td>END</td> <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a> </td> </tr>
    </table>
  </div>
</div>
